// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// my colors
$black:#121212;
$black-rgba:rgba(18,18,18,0.7);
$dark-blue: #001E3E;
$dark-blue-rgba: rgba(0, 30, 62,0.7) ;
// $gray: #353839;
// $gray-rgba: rgba(53,56,57,0.7);
// $purple:#6B6995;
$white: #E6EAED;
$white-rgba: rgba(230,234,237,0.7);
// $darker-white:;
// $darker-white:;
