// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// my colors
$dark-blue: #2f445f;
$white: #E6EAED;
$white-rgba: rgba(230,234,237,0.7);
$gray: #353839;
$gray-rgba: rgba(53,56,57,0.7);
$black:#0E0605;
$black-rgba:rgba(14,6,5,0.7);
