<%= render 'shared/navbar' %>

<!-- cocktail description (photo, title, description) -->
<div class="cocktail-section">
  <div class="container pt-5 pb-3">
    <div class="row">

    </div>
  </div>
</div>
