body {
  background-color: $black;
}

.title-cocktail-new{
  background: $black;
  // margin-top: 48px;
}

.title-cocktail-new h1 {
  color: $white;
  text-align: center;
  font-size: 48px;
}

.cocktail-new {
  color: $white;
  background-color: $black;
}

.cocktail-new h2 {
  color: $white-rgba;
}

.cocktail-new .ingredient-form-label {
  color: $white-rgba;
}
