<div class="navbar-tlc">
  <div class="container d-flex justify-content-between align-items-center">
    <%= link_to "The Liquor Cabinet", root_path, class: 'btn btn-primary' %>
    <%= link_to new_cocktail_path, class: 'btn btn-success' do %>
      Add a new cocktail
    <% end %>
  </div>
</div>
