<div class="navbar-miu">
  <div class="container d-flex justify-content-between align-items-center">
    <%= link_to "Mixin' It Up", root_path, class: 'btn-miu' %>
    <%= link_to new_cocktail_path, class: 'btn-add-cocktail' do %>
      Add A New Cocktail
    <% end %>


  </div>
</div>
