//button add cocktail on banner

.btn-add-cocktail-index{
  color: white;
  border-radius: 50px;
  padding: 8px 24px;
  background-color: goldenrod ;
  font-family: "Dancing Script";
  font-size: 32px;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.btn-add-cocktail-index:hover{
  text-decoration: none;
  color:white;
  opacity: 1;
}

// end of button add cocktail on index page

// Start of buttons for navbar
.btn-miu{
  color: $white;
  // background-color: #90A959;
  border-radius: 50px;
  padding: 8px 24px;
  font-family: $cursive-font;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.7s ease;
}

.btn-miu:hover{
  text-decoration: none;
  color:white;
  opacity: 1;
}

.btn-add-cocktail{
  color: $black;
  border-radius: 50px;
  padding: 8px 24px;
  background-color: $white;
  font-family: $cursive-font;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.7s ease;
}

.btn-add-cocktail:hover{
  text-decoration: none;
  color: $black;
  opacity: 1;
}


// End of navbar buttons

// Start of buttons for cocktail show page

.button-back-to-cocktails {
  color: rgb(240,240,240);
  border: 2px solid rgb(240,240,240);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.button-back-to-cocktails:hover {
  opacity: 1;
}

// END -
