// Start of buttons for navbar
.btn-miu{
  color: black;
  // background-color: #90A959;
  font-family: $cursive-font;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.btn-miu:hover{
  text-decoration: none;
  opacity: 1;
}

.btn-add-cocktail{
  color: black;
  font-family: "Dancing Script";
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.btn-add-cocktail:hover{
  text-decoration: none;
  opacity: 1;
}

// End of navbar buttons

// Start of buttons for cocktail show page
.btn-back-to-cocktails .btn-cocktail-nav {
  background-color: $dark-blue;
  padding: 8px 0;
}



// END -
