// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-tlc{
  background-color: #344966;
  padding: 1rem;
  border-bottom: 2px solid rgba(240,240,240,0.3)
}
